.contact__left {
  flex: 1;
}
.contact__right {
  flex: 1;
}
.contact__left h1 {
  padding: 0;
  margin: 0;
  color: var(--primary-color);
}

.contact__left p {
  font-weight: var(--fontWeight-semibold);
}
.contact__left a {
  color: var(--blue-color);
  text-decoration: none;
}

.contact__left a:hover {
  text-decoration: underline;
  
}

@media only screen and (min-width: 480px) {
  .contact {
    display: flex;
    flex-direction: row;
  }
}
