@media screen and (min-width: 320px) {
}

@media screen and (min-width: 480px) {
  .members__card {
    flex: 0 0 80%;
  }
}

@media screen and (min-width: 600px) {
  .members__card {
    flex: 0 0 50%;
  }
}

@media screen and (min-width: 768px) {
  .members__card {
    flex: 0 0 40%;
  }

  .footer__main-content {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1024px) {
  /* header top  */
  .header__top {
    display: block;
  }

  /* header mid  */
  .header__nepal-flag {
    display: block;
  }

  .header__mid {
    box-shadow: none;
  }

  .header__mob-nav-toggle {
    display: none;
  }

  /* header main  */
  .header__main {
    display: block;
  }

  /* mobile nav  */
  .header__mob-nav {
    display: none;
  }

  /* hero  */

  .hero__wrapper {
    display: flex;
    gap: var(--spacing-6);
  }

  .hero__news {
    flex: 1 1 0%;
  }

  .hero__highlights {
    flex: 1 1 0%;
  }

  /* about  */
  .about__view-more,
  .members__view-more,
  .events__view-more {
    font-size: var(--fontSize-1);
    padding-left: var(--spacing-4);
    padding-right: var(--spacing-4);
  }

  .about__view-more i,
  .members__view-more i,
  .events__view-more i {
    vertical-align: bottom;
  }

  .about__header-title h2,
  .members__header-title h2,
  .members__header-title h2 {
    font-size: var(--fontSize-6);
  }

  /* member  */
  .members__card-wrapper {
    overflow: hidden;
  }

  .members__card {
    flex: 1 1 0%;
    cursor: pointer;
    transition: flex 300ms linear;
  }

  .members__card:hover {
    flex: 3 1 0%;
  }

  .members__card:hover .members__card-detail-icon {
    display: block;
  }

  .members__card-detail-icon {
    display: none;
  }

  .footer__main-content-left,
  .footer__main-content-right {
    flex-direction: row;
    flex: 1 1 0%;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1280px) {
}

@media screen and (min-width: 1440px) {
}
