@media screen and (min-width: 320px) {
}

@media screen and (min-width: 480px) {
}

@media screen and (min-width: 600px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
  /* header top  */
  .header__top {
    display: block;
  }

  /* header mid  */
  .header__nepal-flag {
    display: block;
  }

  .header__mid {
    box-shadow: none;
  }

  .header__mob-nav-toggle {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
}

@media screen and (min-width: 1440px) {
}
