/* header  */

/* header top  */
.header__top {
  border-bottom: 1px solid #dee2e6;
}

/* header mid  */

.header__mid {
  box-shadow: var(--header-shadow);
}

.header__logo-img {
  width: 5rem;
  height: 3.5rem;
}

.header__nepal-flag-img {
  width: 3rem;
}

#cross,
#hamburger {
  font-size: var(--fontSize-4);
}

/* header main  */

.header__main {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.header__main-nav-link {
  line-height: var(--lineHeight-none);
  letter-spacing: 0.5px;
}

.header__main-nav-link:hover {
  background-color: var(--secondary-color);
}

.header__main-nav-link--dropdown:hover .header__main-nav-dropdown {
  opacity: 1;
  height: auto;
  overflow: visible;
  transform: translateY(0);
}

.header__main-link-dropbtn-icon {
  font-size: var(--fontSize-icon);
}

.header__main-nav-dropdown {
  min-width: 200px;
  overflow: hidden;
  height: 0;
  background-color: var(--white-color);
  z-index: 999;
  color: var(--primary-font-color);
  box-shadow: var(--dropdown-shadow);
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
  transform: translateY(20px);
  opacity: 0;
}

.header__main-dropdown-link {
  padding: 0.75rem 0.5rem;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.header__main-dropdown-link:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}

/* mobile nav  */
.header__mob-nav {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 999;
  background-color: var(--white-color);
  transition: transform 500ms ease-in-out;
  transform: translateX(-100%);
}

.header__mob-nav-link-item {
  text-transform: capitalize;
  display: flex;
  align-items: center;
  width: 100%;
  gap: var(--spacing-1);
  letter-spacing: 0.5px;
  padding: 0.5rem 0.75rem;
  line-height: var(--lineHeight-none);
}

.header__mob-drop-icon--down,
.header__mob-drop-icon--right {
  font-size: var(--fontSize-mob-icon);
  transform: translateY(2px);
  margin-left: 2px;
}

.header__mob-dropdown {
  font-size: var(--fontSize-0);
}

.header__mob-dropdown-link {
  padding: 0.5rem 1.25rem;
  letter-spacing: 1px;
}

/* css for mobile drop down  */
.header__mob-dropdown-hide .header__mob-dropdown {
  display: block;
}

.header__mob-dropdown-hide .header__mob-drop-icon--down {
  display: block;
}

.header__mob-dropdown-hide .header__mob-drop-icon--right {
  display: none;
}

/* hero  */

.hero__wrapper {
  /* dis */
}

/* hero: news */
.hero__tabs,
.events__tabs {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.hero__tab button,
.events__tab button {
  padding: 0.5rem 1rem;
  text-transform: capitalize;
  letter-spacing: 0.5px;
}

.hero__active-tab[data-target-tab],
.events__active-tab[data-target-events-tab] {
  background-color: var(--secondary-color);
}

[data-tab-content],
[data-events-tab-content] {
  display: none;
}

.hero__active-tab-content[data-tab-content],
.events__active-tab-content[data-events-tab-content] {
  display: block;
}

.hero__tab-content-wrapper {
  max-height: 300px;
  overflow-y: auto;
}

.hero__tab-content-news-item,
.events__tab-content-news-item {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #dee2e6;
}

.hero__tab-content-news-item a,
.events__tab-content-news-item a {
  padding: 0.25rem 0.5rem;
}

.hero__tab-content-news-item a:hover,
.events__tab-content-news-item a:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.hero__tab-content-news-item h3,
.events__tab-content-news-item h3 {
  margin: 0;
  font-size: var(--fontSize-1);
  font-weight: var(--fontWeight-medium);
  letter-spacing: 0.5px;
}

.hero__tab-content-news-item span,
.events__tab-content-news-item span {
  line-height: var(--lineHeight-relaxed);
  font-size: var(--fontSize-0);
  font-weight: var(--fontWeight-semibold);
}

/* image carousel  */
.hero__highlights {
  /* border: 1px solid red; */
}
.carousel {
  /* border: 1px solid purple; */
}

.carousel-inner {
  position: relative;
  min-height: 400px;
  overflow: hidden;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
}

.carousel-navigation {
  position: absolute;
  /* border: 2px solid yellow; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-navigation button {
  border: none;
  padding: 0.25rem 0.5rem;
  background-color: var(--primary-color);
  color: var(--white-color);
}

.carousel-navigation button#next {
  /* right: 0; */
}

/* about  */
.about__view-more,
.members__view-more,
.events__view-more {
  background-color: var(--primary-color);
  color: var(--white-color);
  border-radius: 8px;
  line-height: var(--lineHeight-none);
  font-size: var(--fontSize-0);
  font-weight: var(--fontWeight-semibold);
  letter-spacing: 0.5px;
}

.about__header-title h2,
.members__header-title h2,
.events__header-title h2 {
  margin: 0;
  text-transform: capitalize;
  line-height: var(--lineHeight-relaxed);
  font-size: var(--fontSize-5);
  font-weight: var(--fontWeight-bold);
  color: var(--primary-color);
}

/* members  */

.members__card-wrapper {
  gap: 2px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.members__card {
  max-width: 400px;
  height: 300px;
  flex: 0 0 100%;
  scroll-snap-align: start;
}

.members_card-description {
  bottom: var(--spacing-3);
  left: var(--spacing-4);
}

.members_card-description {
  color: var(--white-color);
}

.members_card-description .members__name {
  margin: 0;
}

/* .members_card-description .members__position {
} */

/* footer css  */
/* footer  */

footer {
  margin-top: 4rem;
  background-color: var(--primary-color);
  color: var(--white-color);
}

.footer__logo-img {
  width: 4rem;
  height: 4rem;
  background-color: var(--white-color);
  padding: 0.5rem;
  border-radius: 8px;
  margin-bottom: var(--spacing-3);
}

.footer__content-wrapper {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
}

.footer__main-content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
}

.footer__main-content-left,
.footer__main-content-right {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.copyright-separator {
  width: 100%;
  height: 2px;
  background-color: var(--white-color);
}

.footer__contact-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer__get-in-touch {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.footer__quick-links > h3,
.footer__links > h3,
.footer__connect-container > h3 {
  font-size: var(--fontSize-1);
  line-height: var(--lineHeight-normal);
  margin-bottom: 0.75rem;
}

.footer__quick-links-container > a,
.footer__links-container {
  font-size: var(--fontSize-0);
  text-transform: capitalize;
}

.footer__copyright-content {
  text-align: center;
}

.footer__copyright-content h2 {
  font-size: var(--fontSize-0);
  margin: 0;
  font-weight: var(--fontWeight-normal);
  line-height: var(--lineHeight-normal);
}

/* press  */
.press__card--left {
  color: var(--white-color);
  height: 350px;
}

.press__card-img img {
  border-radius: 8px;
}
.press__card-description {
  left: var(--spacing-4);
  bottom: var(--spacing-4);
}
.press__card-description h3 {
  margin: 0;
  font-size: var(--fontSize-3);
}

.press__card-description p {
  font-size: 0.8rem;
  margin-top: 0.5rem;
}

.press__card--right {
  background-color: rgb(240, 240, 240);
  border-radius: 8px;
  border: 1px solid #dee2e6;
  height: 150px;
}

.press__card-img--right {
  flex: 1 1 0%;
  height: 100%;
}

.press__card-img--right img {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.press__card-description--right {
  flex: 1 1 0%;
  margin-left: 1rem;
}

.press__card-description--right h3 {
  margin: 0;
  font-size: var(--fontSize-1);
  font-weight: var(--fontWeight-semibold);
}

.press__card-description--right p {
  font-size: var(--fontSize-0);
  margin-top: 0.5rem;
}
