@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --primary-font-family: "Lato", sans-serif;
  --primary-color: #003893;
  --secondary-color: #dc143c;
  --white-color: #fff;
  --primary-font-color: #000025;

  /* spacing  */
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-8: 2rem;
  --spacing-10: 2.5rem;
  --spacing-12: 3rem;
  --spacing-16: 4rem;
  --spacing-20: 5rem;
  --spacing-24: 6rem;
  --spacing-32: 8rem;

  /* font weight  */
  --fontWeight-normal: 400;
  --fontWeight-medium: 500;
  --fontWeight-semibold: 600;
  --fontWeight-bold: 700;
  --fontWeight-extrabold: 800;
  --fontWeight-black: 900;

  /* 1.200 Minor Third Type Scale */
  --fontSize-0: 0.833rem;
  --fontSize-1: 1.1rem;
  --fontSize-2: 1.2rem;
  --fontSize-3: 1.44rem;
  --fontSize-4: 1.728rem;
  --fontSize-5: 2.074rem;
  --fontSize-6: 2.488rem;
  --fontSize-7: 2.986rem;
  --fontSize-root: 1rem;

  /* line height  */
  --lineHeight-none: 1;
  --lineHeight-tight: 1.1;
  --lineHeight-normal: 1.5;
  --lineHeight-relaxed: 1.625;

  /* shadow  */
  --header-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* scroll bar  */
*::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}
*::-webkit-scrollbar-track {
  background: #444;
  border-radius: 5px;
}
*::-webkit-scrollbar-thumb {
  background: #a46942;
  border-radius: 5px;
}

body {
  font-family: var(--primary-font-family);
  font-size: var(--fontSize-root);
  color: var(--primary-font-color);
  background-color: var(--white-color);
  line-height: var(--lineHeight-normal);
}

a {
  text-decoration: none;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

i {
  background: transparent;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

button {
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Heading */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font-family);
  margin-top: var(--spacing-6);
  margin-bottom: var(--spacing-6);
  line-height: var(--lineHeight-tight);
  letter-spacing: -0.025em;
}

h1 {
  font-weight: var(--fontWeight-black);
  font-size: var(--fontSize-5);
  color: var(--color-heading-black);
}

h2 {
  font-size: var(--fontSize-5);
}

h3 {
  font-size: var(--fontSize-4);
}

h4 {
  font-size: var(--fontSize-3);
}

h5 {
  font-size: var(--fontSize-2);
}

h6 {
  font-size: var(--fontSize-1);
}

/* utility css  */

/* FLEXBOX  */
.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.flex-1 {
  flex: 1 1 0%;
}

.gap-1 {
  gap: var(--spacing-1);
}

.gap-2 {
  gap: var(--spacing-2);
}

.gap-3 {
  gap: var(--spacing-3);
}

.gap-4 {
  gap: var(--spacing-4);
}

.gap-5 {
  gap: var(--spacing-5);
}

.gap-6 {
  gap: var(--spacing-6);
}

.gap-7 {
  gap: var(--spacing-7);
}

.gap-8 {
  gap: var(--spacing-8);
}

/* padding horizonatal  */

.px-1 {
  padding-left: var(--spacing-1);
  padding-right: var(--spacing-1);
}

.px-2 {
  padding-left: var(--spacing-2);
  padding-right: var(--spacing-2);
}

.px-3 {
  padding-left: var(--spacing-3);
  padding-right: var(--spacing-3);
}

.px-4 {
  padding-left: var(--spacing-4);
  padding-right: var(--spacing-4);
}

.px-5 {
  padding-left: var(--spacing-5);
  padding-right: var(--spacing-5);
}

.px-6 {
  padding-left: var(--spacing-6);
  padding-right: var(--spacing-6);
}

.px-7 {
  padding-left: var(--spacing-7);
  padding-right: var(--spacing-7);
}

.px-8 {
  padding-left: var(--spacing-8);
  padding-right: var(--spacing-8);
}

/* padding vertical  */
.py-1 {
  padding-top: var(--spacing-1);
  padding-bottom: var(--spacing-1);
}

.py-2 {
  padding-top: var(--spacing-2);
  padding-bottom: var(--spacing-2);
}

.py-3 {
  padding-top: var(--spacing-3);
  padding-bottom: var(--spacing-3);
}

.py-4 {
  padding-top: var(--spacing-4);
  padding-bottom: var(--spacing-4);
}

.py-5 {
  padding-top: var(--spacing-5);
  padding-bottom: var(--spacing-5);
}

.py-6 {
  padding-top: var(--spacing-6);
  padding-bottom: var(--spacing-6);
}

.py-7 {
  padding-top: var(--spacing-7);
  padding-bottom: var(--spacing-7);
}

.py-8 {
  padding-top: var(--spacing-8);
  padding-bottom: var(--spacing-8);
}

/* margin horizontal  */
.mx-1 {
  padding-left: var(--spacing-1);
  padding-right: var(--spacing-1);
}

.mx-2 {
  padding-left: var(--spacing-2);
  padding-right: var(--spacing-2);
}

.mx-3 {
  padding-left: var(--spacing-3);
  padding-right: var(--spacing-3);
}

.mx-4 {
  padding-left: var(--spacing-4);
  padding-right: var(--spacing-4);
}

.mx-5 {
  padding-left: var(--spacing-5);
  padding-right: var(--spacing-5);
}

.mx-6 {
  padding-left: var(--spacing-6);
  padding-right: var(--spacing-6);
}

.mx-7 {
  padding-left: var(--spacing-7);
  padding-right: var(--spacing-7);
}

.mx-8 {
  padding-left: var(--spacing-8);
  padding-right: var(--spacing-8);
}

/* margin vertical  */
.my-1 {
  padding-top: var(--spacing-1);
  padding-bottom: var(--spacing-1);
}

.my-2 {
  padding-top: var(--spacing-2);
  padding-bottom: var(--spacing-2);
}

.my-3 {
  padding-top: var(--spacing-3);
  padding-bottom: var(--spacing-3);
}

.my-4 {
  padding-top: var(--spacing-4);
  padding-bottom: var(--spacing-4);
}

.my-5 {
  padding-top: var(--spacing-5);
  padding-bottom: var(--spacing-5);
}

.my-6 {
  padding-top: var(--spacing-6);
  padding-bottom: var(--spacing-6);
}

.my-7 {
  padding-top: var(--spacing-7);
  padding-bottom: var(--spacing-7);
}

.my-8 {
  padding-top: var(--spacing-8);
  padding-bottom: var(--spacing-8);
}
/* border  */
.border-red {
  border: 1px solid red;
}

.border-green {
  border: 1px solid green;
}

/* display  */
.block {
  display: block;
}

.hidden {
  display: none;
}

.inline-block {
  display: inline-block;
}

/* position  */

.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.inset-0 {
  inset: 0;
}

.left-0 {
  left: 0;
}

.top-0 {
  top: 0;
}

.right-0 {
  right: 0;
}

.bottom-0 {
  bottom: 0;
}

/* container  */
.container--fluid {
  max-width: 1380px;
  width: 95%;
  margin: 0 auto;
}

/* header  */

/* header top  */
.header__top {
  border-bottom: 1px solid #dee2e6;
}

/* header mid  */

.header__mid {
  box-shadow: var(--header-shadow);
}

.header__logo-img {
  width: 5rem;
  height: 3.5rem;
}

.header__nepal-flag-img {
  width: 3rem;
}

#cross,
#hamburger {
  font-size: var(--fontSize-4);
}
